# Environment variables
.env
**/.env

# Expo
.expo/
**/.expo/

# Node
node_modules/
**/node_modules/

backend/node_modules/
backend/.env

SecureHire/node_modules/
SecureHire/.expo/
SecureHire/.metro/
SecureHire/dist/